<section class="row">
  <div class="column">
    <h2>Temperature <%= @temperature %></h2>
  </div>

  <div class="column">
    <h2>Humidity <%= @humidity %></h2>
  </div>
</section>

<section class="row">
  <div>
    <img src="/image/<%= @timestamp %>" />
  </div>
</section>
